@model Rekrutacja.Models.Contact

@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Create</h1>

    <h4>Contact</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, "Category")
                    <select id="selection" onchange="show()" asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group" id="Hide">
                    @Html.LabelFor(model => model.OtherCategory, "Insert category:")
                    <input asp-for="OtherCategory" class="form-control" />
                    <span asp-validation-for="OtherCategory" class="text-danger"></span>
                </div>

                <div class="form-group" id="Hide2">
                    @Html.LabelFor(model => model.OtherCategory, "Insert category:")
                    <select id="selection" onchange="fun()" asp-for="OtherCategory" class="form-control">
                        <option value="1">Customer</option>
                        <option value="2">Boss</option>
                        <option value="3">Employee</option>
                    </select>

                    <span asp-validation-for="OtherCategory" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfBirth, "Date of birth")
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            function show() {
                if ($("#selection :selected").text() == "Other") {
                    $("#Hide").show();
                    $("#Hide2").hide();
                }
                else if ($("#selection :selected").text() == "Business") {
                    $("#Hide2").show();
                    $("#Hide").hide();
                }
                else {
                    $("#Hide").hide();
                    $("#Hide2").hide();
                }
            }
        </script>

        <script type="text/javascript">
            function fun() {
                //$("#plan").val(this.options[this.selectedIndex].text);
            }
        </script>
    }
}
            else
            {
                <h1>Permission denied.</h1>
            }
